// Define variables for your color scheme

// Colors
$blue: #1cb0f6;
$darkblue: #2b70c9;
$yellow: #ffde00;
$darkyellow: #ffc200;
$orange: #ff9600;
$red: #ff4b4b;
$lightbrown: #f49000;
$brown: #b66e28;
$purple: #ce82ff;
$pink: #ffcaff;

$lightgreen: #89e219;
$green: #58cc02;
$darkgreen: #43c000;


// Neutrals
$black: #4b4b4b;
$lightblack: #777777;
$grey: #afafaf;
$lightgrey: #e5e5e5;
$light: #f7f7f7;
$white: #ffffff;
