// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');


@font-face {
  font-family: 'assets/fonts/DINRoundPro';
  src: url('assets/fonts/DINRoundPro-Black.eot');
  src: local('assets/fonts/DINRoundPro-Black'),
  url('assets/fonts/DINRoundPro-Black.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/DINRoundPro-Black.woff2') format('woff2'),
  url('assets/fonts/DINRoundPro-Black.woff') format('woff'),
  url('assets/fonts/DINRoundPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'assets/fonts/DINRoundPro-Medi';
  src: url('assets/fonts/DINRoundPro-Medi.eot');
  src: local('assets/fonts/DINRoundPro-Medi'),
  url('assets/fonts/DINRoundPro-Medi.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/DINRoundPro-Medi.woff2') format('woff2'),
  url('assets/fonts/DINRoundPro-Medi.woff') format('woff'),
  url('assets/fonts/DINRoundPro-Medi.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'assets/fonts/DINRoundPro';
  src: url('assets/fonts/DINRoundPro-Light.eot');
  src: local('assets/fonts/DINRoundPro-Light'),
  url('assets/fonts/DINRoundPro-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/DINRoundPro-Light.woff2') format('woff2'),
  url('assets/fonts/DINRoundPro-Light.woff') format('woff'),
  url('assets/fonts/DINRoundPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'assets/fonts/DINRoundPro';
  src: url('assets/fonts/DINRoundPro.eot');
  src: local('assets/fonts/DINRoundPro'),
  url('assets/fonts/DINRoundPro.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/DINRoundPro.woff2') format('woff2'),
  url('assets/fonts/DINRoundPro.woff') format('woff'),
  url('assets/fonts/DINRoundPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'assets/fonts/DINRoundPro';
  src: url('assets/fonts/DINRoundPro-Bold.eot');
  src: local('assets/fonts/DINRoundPro-Bold'),
  url('assets/fonts/DINRoundPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/DINRoundPro-Bold.woff2') format('woff2'),
  url('assets/fonts/DINRoundPro-Bold.woff') format('woff'),
  url('assets/fonts/DINRoundPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Define fonts for body and headers
$body-font: "DINRoundPro", "Work Sans", "Helvetica", "sans-serif";
$headers-font: "DINRoundPro", "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
