<nav class="nav" data-controller="navbar">
  <ul class="nav-links">
    <li class="nav-item">
      <%= link_to root_path, data: { action: "click->navbar#active", navbar_target: "link" } do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_book_path, data: { action: "click->navbar#active", navbar_target: "link" } do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to books_path, data: { action: "click->navbar#active", navbar_target: "link" } do %>
        <i class="fa-solid fa-table-list"></i>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to users_path, data: { action: "click->navbar#active", navbar_target: "link" } do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    </li>
  </ul>
</nav>
