<div class="user-log-out">
  <%= link_to users_path, data: { action: "click->navbar#active", navbar_target: "link" } do %>
    <i class="fa-solid fa-right-from-bracket"></i>
  <% end %>
  <%= link_to users_path, data: { action: "click->navbar#active", navbar_target: "link" } do %>
    <i class="fa-solid fa-user"></i>
  <% end %>
</div>
