<div class="container">
  <div class="logo">
      <%= image_tag "BookBuddy_logo.svg", alt: "Logo BookBuddy", class: "book"%>
      <%= image_tag "BookBuddy.svg", alt: "BookBuddy", class:"text" %>
  </div>
  <%# <hr> %>
  <div class="description">
      <p>
          Parcourez et gérez votre collection de livres en toute simplicité.
          <br><br>
          <span style=" text-decoration: underline;
                        text-decoration-style: solid;
                        text-decoration-color: #9eff186e;
                        text-decoration-thickness: 0.4rem;">Ajoutez de nouveaux titres</span>, <span style="text-decoration: line-through;">suivez les emprunts</span>,
          <span style=" text-decoration: underline;
                        text-decoration-style: solid;
                        text-decoration-color: #9eff186e;
                        text-decoration-thickness: 0.4rem;">marquez vos favoris</span> et bien plus encore avec <strong>BookBuddy</strong>.
      </p>
  </div>
  <%# <hr> %>
  <%= link_to home_path, class: 'go-wrapper' do %>
    <button class="go">Visiter ma bibliothèque</button>
  <% end %>
</div>
