<div class="container">
  <div class="logo">
      <img src="BookBuddy_logo.svg" alt="Logo BookBuddy" class="book">
      <img src="BookBuddy.svg" alt="BookBuddy" class="text">
  </div>
  <div class="description">
      <p>
          Découvrez et gérez votre collection de livres en toute simplicité. <br>
          Ajoutez de nouveaux titres, suivez les emprunts,
          marquez vos favoris et bien plus encore avec BookBuddy
      </p>
  </div>
  <button class="go">Commencer votre collection</button>
</div>
