
<div data-controller='index-search'>
  <div class="title-card">
    <h2 class="card-title">Mes livres</h2>
    <div class="search-bar">
      <div class="">
          <input  type="text"
                  name="query"
                  class="form-control"
                  placeholder="Entrez un mot"
                  data-index-search-target='input'
                  data-action='input->index-search#search'>
      </div>
    </div>
  </div>
  <div class='container'>
    <div data-index-search-target='list'>
        <%= render 'partials/index_list', books: @books%>
    </div>
  </div>
</div>
