
<div class="title-card">
  <%= image_tag "BookBuddy_logo.svg", alt: "Logo BookBuddy", class: "book"%>
  <h2 class="card-title">Ajouter un livre</h2>
  <%= render 'partials/books/new_book_search' %>
</div>
<div class="container">
  <h4>Ajoute-le manuellement :</h4>
  <div class="book-form-choices">
      <%= render 'partials/books/new_book_form', book: @book %>
  </div>
</div>
