<div class="title-card">
  <h2 class="card-title">Nouveau livre</h2>
</div>
<div class="book-form-choices">
  <h4>Cherchez un livre...</h4>
    <%= render 'partials/books/bar_code_reader' %>
  <h4>...ou rajoutez-le manuellement</h4>
    <%= render 'partials/books/new_book_form', book: @book %>
</div>
