<div class="title-card">
  <h2 class="card-title">Nouveau livre</h2>
</div>
<h4>Cherchez un livre...</h4>
  <p>[PLACEHOLDER FOR SEARCH]</p>
  <div class="search-bar">
    <div class="">
        <input  type="text"
                name="query"
                class="form-control"
                placeholder="Entrez un mot"
                data-index-search-target='input'
                data-action='input->index-search#search'>
    </div>
  </div>
<h4>...ou rajoutez-le manuellement</h4>
  <%= render 'partials/books/new_book_form', book: @book %>
