.roman-icon {
  color: $red;
}

.bd-icon {
  color: $green;
}

.manga-icon {
  color: $blue;
}

.poesie-icon {
  color: $pink;
}

.roman-border {
  border: 2px solid $red;
}

.bd-border {
  border: 2px solid $green;
}

.manga-border {
  border: 2px solid $blue;
}

.poesie-border {
  border: 2px solid $pink;
}
