.card-close {
  display: flex;
  flex-direction: row;
}

.book-close-img {
  font-size: 2em;
  color: $blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.close-book-series {
  font-size: 1em;
  line-height: 0.85em;
  margin: 5px 0;
}

.close-book-actions {
  // display: flex;
  // flex-direction: row;
  // gap: 0.6em;
  // align-items: center;
  // justify-content: space-around;
}
