.header-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0.5em 1em 1em 1em;

  .book {
    // margin: 1em 0 0 1em;
    width: auto;
    height: 60px;
  }

  .text {
    // margin-top: 1em;
    height: 80px;
  }
}

.header-user {
  i {
    color: $lightgrey;
    font-size: 2em;
  }
}

.home-card {
  border-radius: 1em;
  border: 2px solid $lightgrey;
  box-shadow: 0 4px 0 $lightgrey;
  background-color: $white;
  padding: 1em;
  margin: 0.8em;
  position: relative;
  color: $black;
  font-size: 1.3em;
  overflow-y: hidden;

  h3 {
    color: $darkgreen;
  }

  .green-text{
    color: $darkgreen;
  }

  .blue-text{
    color: $blue;
  }

  .purple-text{
    color: $purple;
  }

  .red-text{
    color: $red;
  }
}

.home-card:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 40px;
  right: auto;
  bottom: auto;
	top: -23px;
	border: 11px solid;
	border-color:  transparent transparent$lightgrey$lightgrey;
}
.home-card:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 42px;
  right: auto;
  top: -18px;
	bottom: auto;
	border: 10px solid;
	border-color: transparent transparent $white $white;
}

.last-books {
  // padding: 0.8em;
  height: 400px;
}

.last-books h2 {
  padding: 0.5em 0 0 0.8em;
  text-transform: uppercase;
  color: $black;
  font-size: 1.5em;
  font-weight: bold;

  .home-icon-book {
    color: $green;
    font-size: 0.8em;
    margin: 0.1em 0.4em;
  }
  .home-icon-heart {
    color: $red;
    font-size: 0.8em;
    margin: 0.1em 0.4em;
  }
}

.last-books-cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.8em;
  overflow-x: scroll;
  padding: 0.8em;
}
