* {
  // outline: 1px solid green;
}

body {
  background-color: #F3F4F4;
}

.last-books {
  padding: 0.8em;
  height: 400px;
}

.last-books h2 {
  text-transform: uppercase;
  color: $black;
  font-size: 1.5em;
  font-weight: bold;
}

.last-books-cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.8em;
  overflow-x: auto;
}
