.header-home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0.5em 1em 1em 1em;

  .book {
    // margin: 1em 0 0 1em;
    width: auto;
    height: 60px;
  }

  .text {
    // margin-top: 1em;
    height: 80px;
  }
}

.home-card {
  height: 10em;
  border-radius: 1em;
  border: 2px solid $lightgrey;
  box-shadow: 0 4px 0 $lightgrey;
  background-color: $white;
  padding: 1em;
  margin: 0.8em;
}

.last-books {
  padding: 0.8em;
  height: 400px;
}

.last-books h2 {
  text-transform: uppercase;
  color: $black;
  font-size: 1.5em;
  font-weight: bold;
}

.last-books-cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.8em;
  overflow-x: auto;
}
