.title-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  padding: 2em 2em 2em 2em;
  border-radius: 0 0 1em 1em;
  box-shadow: 0 4px $lightgrey;
  margin-bottom: 0.8em;
  color: #ffff;

  .header-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    align-items: center;
    width: calc(100vw - 3em);
  }

  .search-bar {
    margin-top: 2em;
    width: calc(100vw - 3em);
  }

  h2 {
    color: #ffff;
    text-align: center;
  }

  i {
    font-size: 2em;
  }
}
